
<%= t("Home") %>

<div id="body-1">
	<div class="row">
		<div class="small-12 columns">
			<div class="row">
				<div class="small-12 columns">
					<h1> Maokai </h1>

					<h5 style="color:#FFF;text-align:justify">
						Tired of these whiteboard shits? Enter Maokai, here you can collaborate as a team, read/write and receive the latest updates of your projects with less hassle!
					</h5>

					<div style="margin-top:20px">
						<a href="#" class="large button">Read more</a>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
